@import "font-awesome/font-awesome";

@mixin box-sizing($model) {
  -moz-box-sizing: $model; 
  -webkit-box-sizing: $model; 
  box-sizing: $model;
}
@mixin transition($property, $time) {
  -moz-transition: $property $time; 
  -webkit-transition: $property $time; 
  transition: $property $time;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder { /* Firefox 18- */
        @content;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/Ubuntu-R.ttf");
  font-weight: 400;
}
@import url('https://fonts.googleapis.com/css?family=Hind');
body,
html {
  @include box-sizing(border-box);
  background: -webkit-radial-gradient(white - 20 40%, #F5EDE3);
  background: -o-radial-gradient(white - 20 40%, #F5EDE3);
  background: -moz-radial-gradient(white - 20 40%, #F5EDE3);
  background: radial-gradient(white - 20 40%, #F5EDE3);
  background-size: 110%;
  background-position: center;
  font-family: Ubuntu;
  font-size: 12px;
  padding: 0;
}
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #FF6600 + 65;
}

::selection {
  color: white; 
  background: #FF6600 + 65;
}
.header {
  display: block;
  width: 4rem;
  height: 4rem;
  background: #FF6600 - 50;
  white-space: nowrap;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  @include transform(rotate(45deg) translate(-200%, 200%));
}
h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
  @include transform(rotate(-45deg) translateX(120%));
}
.page-size-filter {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height: 2.5rem;
  @include box-sizing(border-box);
  font-weight: bold;
  padding: 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
  margin: 1rem 0;
}
.page-size {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.page-size p {
  display: block;
  padding: 0;
  margin: 0.5rem 0.3rem;
}
.page-size-small,
.page-size-big {
  margin: 0 .1rem;
}
.page-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0;
}
.page-filter-input {
  display: block;
  font-size: 1.5rem;
  border: 1px solid gainsboro;
  border-right: 0;
}
.page-filter-button {
  border: 1px solid gainsboro;
  border-left: 0;
}
.list-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include box-sizing(border-box);
  width: 100%;
  background: #E1D4C0;
  font-weight: bold;
  overflow: hidden;
  padding: 0;
  border-radius: 1rem 1rem 0 0;
  margin: 0;
}
.list-control-bottom {
  border-radius: 0 0 1rem 1rem;
}
.page-top-button {
  margin-left: 2rem;
}
button {
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  background: #FF6600 + 40;
  font-weight: bold;
  font-size: 1rem;
  text-shadow: -1px 1px #FF6600 + 20;
  padding: 0.5rem 1.5rem;
  border: none;
  @include transition(all, .2s);
}
button:hover {
  cursor: pointer;
  background-color: #FF6600 - 5;
  text-shadow: -1px 1px #FF6600;
}
.list-control-first,
.list-control-last {
  background: #FF6600 - 50;
}
.inactive {
  color: gainsboro;
  background: #CDBFAC - 50;
  text-shadow: -1px 1px grey - 20;
}
.inactive:hover {
  color: gainsboro;
  background: #CDBFAC - 50;
  text-shadow: -1px 1px grey - 20;
}
.root {
  padding: 0;
  margin: 0;
}
.loading-state {
  display: none;
  @include box-sizing(border-box);
  font-size: 1rem;
  padding: 0;
  margin: 8rem 0;
}

$colors:
  hsla(337, 84, 48, 0.75)
  hsla(160, 50, 48, 0.75)
  hsla(190, 61, 65, 0.75)
  hsla( 41, 82, 52, 0.75);
$size: 5rem;
$thickness: 0.5rem;

// Calculated variables.
$lat: ($size - $thickness) / 2;
$offset: $lat - $thickness;

.loader {
  display: block;
  width: $size;
  height: $size;
  margin: 0 auto;
  @include transform(rotate(165deg));
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: $thickness;
    height: $thickness;
    border-radius: $thickness / 2;
    @include transform(translate(-50%, -50%));
  }
  
  &:before {
    animation: before 2s infinite;
  }
  
  &:after {
    animation: after 2s infinite;
  }
}

@include keyframes(before) {
  0% {
    width: $thickness;
    box-shadow:
      $lat (-$offset) nth($colors, 1),
      (-$lat) $offset nth($colors, 3);
  }
  35% {
    width: $size;
    box-shadow:
      0 (-$offset) nth($colors, 1),
      0   $offset  nth($colors, 3);
  }
  70% {
    width: $thickness;
    box-shadow:
      (-$lat) (-$offset) nth($colors, 1),
      $lat $offset nth($colors, 3);
  }
  100% {
    box-shadow:
      $lat (-$offset) nth($colors, 1),
      (-$lat) $offset nth($colors, 3);
  }
}

@include keyframes(after) {
  0% {
    height: $thickness;
    box-shadow:
      $offset $lat nth($colors, 2),
      (-$offset) (-$lat) nth($colors, 4);
  }
  35% {
    height: $size;
    box-shadow:
        $offset  0 nth($colors, 2),
      (-$offset) 0 nth($colors, 4);
  }
  70% {
    height: $thickness;
    box-shadow:
      $offset (-$lat) nth($colors, 2),
      (-$offset) $lat nth($colors, 4);
  }
  100% {
    box-shadow:
      $offset $lat nth($colors, 2),
      (-$offset) (-$lat) nth($colors, 4);
  }
}

.results-list {
  display: flex;
  flex-direction: column;
  @include box-sizing(border-box);
  width: 100%;
  color: #F5EDE3 - 200;
  font-size: 1rem;
  font-family: Hind;
  text-transform: lowercase;
  padding: 0;
  margin: 0;
}
.results-list-item {
  display: flex;
  height: 4rem;
  flex-direction: row;
  justify-content: flex-start;
  @include box-sizing(border-box);
  width: 100%;
  background: #F5EDE3;
  padding: 0;
  border: 1px solid #F5EDE3 - 50;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
  @include transition(all, .2s);

  span {
    padding: .5rem;
  }
  span.id,
  span.acronym {
    text-align: center;
    text-transform: uppercase;
    @include transition(all, .3s);
  }
  span.id {
    flex: 1;
  }
  span.acronym {
    display: none;
    flex: 1;
    @include transform(scaleX(0));
  }
  span.name {
    flex: 2;
    text-transform: capitalize;
  }
}
.results-list-item:hover {
  height: 6rem;
  background: #FF6600 + 50;

  span.name {
    color: white;
  }
  span.id,
  span.acronym {
    display: block;
    color: white;
    background: #FF6600 + 50;
    font-weight: bold;
    @include transform(scale(1));
  }
}
@media screen and (min-aspect-ratio: 13/9) {
  .page-size-filter {
    flex-direction: row;
  }
}
@media only screen and (min-width: 750px) {
  .page-size {
    justify-content: flex-start;
  }
  .page-size:last-child {
    justify-content: center;
  }
  .page-filter {
    justify-content: flex-end;
  }
  .results-list-item {
    span.acronym {
      display: block;
    }
  }
  .results-list-item:hover {
    height: 4rem;
  }
}
@media only screen and (min-width: 1000px) {
  html,
  body {
    font-size: 20px;
    padding: 1rem 2rem;
  }
  h1 {
    margin-bottom: 5rem;
  }
  .page-size-filter {
    flex-direction: row;
    padding: 0 3rem;
  }
  .results-list-item {
    height: 2.5rem;
    background: -webkit-linear-gradient(right, #F5EDE3, #eee, #F5EDE3);
    background: -o-linear-gradient(right, #F5EDE3, #eee, #F5EDE3);
    background: -moz-linear-gradient(right, #F5EDE3, #eee, #F5EDE3);
    background: linear-gradient(right, #F5EDE3, #eee, #F5EDE3);
    border: 1px solid #F5EDE3 - 25;
    border-right: 0;
    border-left: 0;
    margin: 0.2rem 0;
  }
  .results-list-item:hover {
    height: 2.5rem;
    background: -webkit-linear-gradient(right, #FF6600 + 50, #FF6600 + 100, #FF6600 + 50);
    background: -o-linear-gradient(right, #FF6600 + 503, #FF6600 + 100, #FF6600 + 50);
    background: -moz-linear-gradient(right, #FF6600 + 50, #FF6600 + 100, #FF6600 + 50);
    background: linear-gradient(right, #FF6600 + 50, #FF6600 + 100, #FF6600 + 50);

    span.acronym {
      background: -webkit-linear-gradient(right, #FF6600 + 50, #FF6600 + 100);
      background: -o-linear-gradient(right, #FF6600 + 503, #FF6600 + 100);
      background: -moz-linear-gradient(right, #FF6600 + 50, #FF6600 + 100);
      background: linear-gradient(right, #FF6600 + 50, #FF6600 + 100);
    }
  }
}
@media only screen and (min-width: 1500px) {
  html,
  body {
    font-size: 24px;
  }
}
@media only screen and (min-width: 2000px) {
  html,
  body {
    font-size: 32px;
  }
}
@media only screen and (min-width: 3000px) {
  html,
  body {
    font-size: 48px;
  }
}