@import url("https://fonts.googleapis.com/css?family=Hind");
@font-face {
  font-family: Ubuntu;
  src: url("fonts/Ubuntu-R.ttf");
  font-weight: 400; }
body,
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
  font-family: Ubuntu;
  font-size: 12px;
  padding: 0; }

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ff925a; }

::selection {
  color: white;
  background: #ff925a; }

h1 {
  background: #3b3b3b;
  color: #eee;
  text-decoration: underline;
  text-align: center;
  padding: 2rem; }

.list-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0; }

button {
  padding: 1rem;
  font-size: 1rem;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  color: #fff;
  background-color: #ff7941;
  font-weight: bold;
  text-shadow: -1px 1px #f5652d;
  border: none;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

button:hover {
  cursor: pointer;
  background-color: #f5652d;
  text-shadow: -1px 1px #E15119; }

.list-control-first,
.list-control-last {
  background: #af1f00; }

.page-size {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1rem 0 0 0;
  border-top: 1px solid #eee;
  margin: 1rem 0; }

.page-size p {
  display: block;
  margin-right: 1rem; }

.page-size-small,
.page-size-big {
  margin: 0 .1rem; }

.root {
  padding: 0;
  margin: 0; }

.results-list {
  display: flex;
  flex-direction: column;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-family: Hind;
  text-transform: lowercase;
  padding: 0;
  margin: 0; }

.results-list-item {
  display: flex;
  height: 4rem;
  flex-direction: row;
  justify-content: flex-start;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #eee;
  padding: 0;
  border: 1px solid #eee;
  border-top: 0;
  border-bottom: 0;
  margin: 0;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }
  .results-list-item span {
    padding: .5rem; }
  .results-list-item span:first-letter {
    text-transform: capitalize; }
  .results-list-item span.id,
  .results-list-item span.acronym {
    background: #eee;
    border: 1px solid #999;
    border-top: 0;
    border-bottom: 0;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .results-list-item span.id {
    flex: 1; }
  .results-list-item span.acronym {
    flex: 1;
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0); }
  .results-list-item span.name {
    flex: 2; }

.results-list-item:hover {
  background: #ff834b;
  border-color: #E15119; }
  .results-list-item:hover span.id,
  .results-list-item:hover span.acronym {
    background: #f5652d;
    border-color: #f5652d;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1); }

@media only screen and (min-width: 1000px) {
  html,
  body {
    font-size: 20px;
    padding: 1rem; }

  .results-list {
    padding: 1rem 2rem; } }
@media only screen and (min-width: 1500px) {
  html,
  body {
    font-size: 24px; } }
@media only screen and (min-width: 2000px) {
  html,
  body {
    font-size: 32px; } }
@media only screen and (min-width: 3000px) {
  html,
  body {
    font-size: 48px; } }

/*# sourceMappingURL=styles.css.map */
